<a href="https://colab.research.google.com/github/arturcgs/BootcampDataScienceAplicada3/blob/main/BootcampDataScienceAplicada3/Projetos/Modulo%201/Projeto_Modulo_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto do Módulo 1 - BootCamp Data Science Aplicada 3

Neste notebook, analisaremos mtas coisas

Pensei em comparar a situação da saúde pública com a privada.
Eu posso trazer a base de dados de internações e de valor total de escopo privado e público.

Vou fazer por estado.

Vou usar ano/mes atendimento, e n usarei dados de 2021, pq acho q eles n são tão confiáveis, tão sendo processados ainda.

Posso plotar um gráfico comparando o número de casos atendidos em cada um, dá até fazer um custo por caso.


Dependendo, eu posso tbm pegar a taxa de mortalidade de cada um deles e ver no q dá.

Pegando primeiro internações privadas

In [1]:
import pandas as pd

In [2]:
#Arrumando como os valores são mostrados
pd.options.display.float_format = "{:.2f}".format

In [3]:
#importando Internações Privadas
URL = 'https://raw.githubusercontent.com/arturcgs/BootcampDataScienceAplicada3/main/Projetos/Modulo%201/Dados/Internacoes_Privado.csv'
internacoes_privadas = pd.read_csv(URL, encoding='utf8', skiprows=4, skipfooter=12, sep=';', 
                                   thousands = ".", decimal=",")
internacoes_privadas.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

  Unidade da Federação 2007/Jan 2007/Fev  ... 2015/Set 2015/Out    Total
0          11 Rondônia        -        -  ...      372      179    36932
1              12 Acre        1        -  ...      444      393    68834
2          13 Amazonas        -        -  ...      639      260    69878
3           14 Roraima        -        -  ...       71        -     1707
4              15 Pará        -        1  ...    13153     7215  1878664

[5 rows x 108 columns]

In [4]:
#Importando Internações Públicas

URL = 'https://raw.githubusercontent.com/arturcgs/BootcampDataScienceAplicada3/main/Projetos/Modulo%201/Dados/Internacoes_Publico.csv'
internacoes_publicas = pd.read_csv(URL, encoding='utf8', skiprows=4, skipfooter=12, sep=';', 
                                   thousands = ".", decimal=",")
internacoes_publicas.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """

  Unidade da Federação 2007/Jan 2007/Fev  ... 2015/Set 2015/Out    Total
0          11 Rondônia        -        1  ...     7654     4667   741178
1              12 Acre        -        -  ...     2604     1769   324225
2          13 Amazonas        3        2  ...    10508     5351  1200743
3           14 Roraima        -        -  ...     1493      675   237562
4              15 Pará        8        5  ...    19049    13219  2070213

[5 rows x 108 columns]

In [5]:
#Importando Valor Total Gasto Privado

URL = 'https://raw.githubusercontent.com/arturcgs/BootcampDataScienceAplicada3/main/Projetos/Modulo%201/Dados/ValorTotal_Privado.csv'
valor_privado = pd.read_csv(URL, encoding='ISO-8859-1', skiprows=4, skipfooter=12, sep=';', 
                                   thousands = ".", decimal=",")
valor_privado.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """

  Unidade da Federação 1992/Mar 1992/Abr  ...   2015/Set    2015/Out         Total
0          11 Rondônia        -        -  ...  485543.82   165951.45   43455868.15
1              12 Acre        -        -  ...  389342.49   284086.73   51745093.26
2          13 Amazonas        -        -  ... 1179948.76   651741.71  121105104.93
3           14 Roraima        -        -  ...   29121.19           -     838268.18
4              15 Pará        -        -  ... 8916479.34  4618907.83 1128799630.70

[5 rows x 221 columns]

In [6]:
#Importando Valor Total Gasto Público

URL = 'https://raw.githubusercontent.com/arturcgs/BootcampDataScienceAplicada3/main/Projetos/Modulo%201/Dados/ValorTotal_Publico.csv'
valor_publico = pd.read_csv(URL, encoding='ISO-8859-1', skiprows=4, skipfooter=12, sep=';', 
                                   thousands = ".", decimal=",")
valor_publico.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """

  Unidade da Federação 2000/Jan 2000/Fev  ...    2015/Set   2015/Out         Total
0          11 Rondônia        -        -  ...  4715440.37 2279821.56  404456268.00
1              12 Acre        -        -  ...  1763914.85  994151.98  194023593.46
2          13 Amazonas        -        -  ...  7448176.25 3169302.69  817733095.71
3           14 Roraima        -        -  ...   745954.68  303071.43  147828542.59
4              15 Pará        -        -  ... 11118821.30 6541628.38 1395411673.66

[5 rows x 137 columns]