<a href="https://colab.research.google.com/github/arturcgs/BootcampDataScienceAplicada3/blob/main/Aulas/M%C3%B3dulo_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [7]:
url = 'https://github.com/arturcgs/BootcampDataScienceAplicada3/raw/main/Bancos_de_Dados/dados_covid_sp.zip'

dados = pd.read_csv(url, sep=';', )

dados

              nome_munic  codigo_ibge  dia  ...  latitude longitude  semana_epidem
0             Adamantina      3500105   25  ...  -21,6820  -51,0737              9
1                 Adolfo      3500204   25  ...  -21,2325  -49,6451              9
2                  Aguaí      3500303   25  ...  -22,0572  -46,9735              9
3         Águas da Prata      3500402   25  ...  -21,9319  -46,7176              9
4       Águas de Lindóia      3500501   25  ...  -22,4733  -46,6314              9
...                  ...          ...  ...  ...       ...       ...            ...
286173          Ignorado      9999999    8  ...    0,0000    0,0000             18
286174          Ignorado      9999999    9  ...    0,0000    0,0000             19
286175          Ignorado      9999999   10  ...    0,0000    0,0000             19
286176          Ignorado      9999999   11  ...    0,0000    0,0000             19
286177          Ignorado      9999999   12  ...    0,0000    0,0000             19

[286178 rows x 26 columns]